   #preloader {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(10,15,28,1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* badha karta uppder hoy*/
  }

  /* Logo animation */
  .logo-img {
    width: 180px; /* size vadhari saki */
    height: auto;
    animation: pulse 2s infinite;
  }
@keyframes pulse {
    0% { transform: scale(1); opacity: 0.8; }
    50% { transform: scale(1.2); opacity: 1; filter: drop-shadow(0 0 20px #00ffe7); }
    100% { transform: scale(1); opacity: 0.8; }
  }

  /* Optional text */
  .loading-text {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #aaa;
    animation: fadeBlink 2s infinite;
    font-family: Arial, sans-serif;
  }